<div class="row">
  <div class="col-md-12 col-sm-12 ">

    <% if @subject.errors.any? %>
      <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">X</button>
        
        <ul>
          <% @subject.errors.full_messages.each do |message| %>
            <li> <%= message %> </li>
          <% end %>
        </ul>

      </div>
    <% end %>

    <div class="x_panel">
      <div class="x_content">
        <br>
        <%= form_with(model: [:admins_backoffice, @subject ], local: true) do |form| %>

          <div id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
            <div class="item form-group">
              <%= form.label :description, class:"col-form-label col-md-3 col-sm-3 label-align"%>
              <div class="col-md-6 col-sm-6 ">
                <%= form.text_field :description, class: "form-control required", placeholder:  t('messages.form.placeholder.subject')%>
              </div>
            </div>
            <div class="item form-group">
              <div class="col-md-6 col-sm-6">
                <button type="submit" class="btn btn-success"><%= t('button.save') %></button>
                <% if action_name == 'edit' %>
                  <%= link_to t('button.reset'), edit_admins_backoffice_subject_path(@subject), class:"btn btn-primary" %>
                <% end %>
                <%= link_to t('button.cancel'), admins_backoffice_subjects_path, class: "btn btn-danger"%>
              </div>
            </div>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>

